<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Smoke suite" parallel="classes" thread-count="3">
    <test name="Regression tests">
        <classes>
            <class name="com.store.demoqa.test.AddCartTest"/>
            <class name="com.store.demoqa.test.HomeTest"/>
            <class name="com.store.demoqa.test.YourAccountTest"/>
        </classes>
    </test>
</suite>